*{
  margin: 0;
  padding: 0;
}

h2{
  margin: 20px auto;
  text-align: center;
}

.accodion{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accodion:hover{
  background-color: #ccc;
}

.panel{
  padding: 20px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
