*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
ul{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #333;
}

ul li{
  list-style-type: none;
  padding: 16px 23px;
}

ul li a{
  text-decoration: none;
  color: white;
}

ul li:hover{
  background-color: #0cf23f;
}

/* dropdown */

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: #0cf23f;
}

.dropdown:hover .dropdown-content{
  display: block;
}
