*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: #a9bd7e;
}

.table{
    width: 80vh;
    height: 90vh;
    background-color: #9dd2ea;
    margin: 20px auto;
    border-radius: 5px;
}

.container{
    padding: 10px;
}

input{
    border: none;
    width: 100%;
    height: 70%;
    /* padding: 10px 20;
    margin: 5px; */
}